@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat+Alternates&family=Audiowide&display=swap");
/*h1 {
  color: $red;
}*/
body {
  background: -webkit-gradient(linear, left bottom, right top, from(#f6ee08), to(#e353e3));
  background: linear-gradient(to top right, #f6ee08, #e353e3);
}

body p {
  font-size: larger;
}

nav {
  width: 100%;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  background-color: #ffffff40;
}

nav li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 0px;
}

nav li a {
  color: darkslategray;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
}

nav li a span {
  color: gray;
}

nav li ul {
  background: -webkit-gradient(linear, left bottom, right top, from(#f6ee0872), to(#e353e372));
  background: linear-gradient(to top right, #f6ee0872, #e353e372);
}

nav li:nth-child(1) {
  border-left: none;
}

@media (max-width: 991px) {
  nav {
    background: transparent;
  }
  nav li {
    border: none;
    padding-left: 25px;
  }
  nav li:last-child {
    padding-bottom: 20px;
  }
  nav #Navbar {
    background: #f6ee0860;
    border-radius: 5%;
  }
}

.logoPic {
  max-width: 200px;
  border-radius: 5%;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 991px) {
  .logoPic {
    width: 100px;
  }
}

#searchForm button {
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

#searchForm input {
  border-top-right-radius: 0%;
  border-bottom-right-radius: 0%;
}

#mainCarousel {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  min-width: 300px;
}

#mainCarousel img {
  border: 10px gray outset;
}

#popCat {
  background: green;
}

footer {
  font-size: larger;
  /*#ig {
    color: black;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */
  /* Text color gradient properties 
    background: -webkit-linear-gradient(45deg, yellow, pink, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }*/
}

footer #companyInfo {
  background-color: dimgray;
}

footer #companyInfo a {
  color: white;
  font-family: "Mochiy Pop P One", sans-serif;
}

footer #ig,
footer #cu {
  color: black;
  font-size: 50px;
}

footer #yt {
  color: firebrick;
}

footer i {
  font-size: 50px;
}

h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  color: #4d4d4d;
}

#description h2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#c159cb), to(#6e3173));
  background: linear-gradient(#c159cb, #6e3173);
  color: #e2de03;
  padding: 5px;
  font-family: "Montserrat Alternates", sans-serif;
}

.infoText h1 {
  background: -webkit-gradient(linear, left top, left bottom, from(#c159cb), to(#6e3173));
  background: linear-gradient(#c159cb, #6e3173);
  color: #223333;
  padding: 5px;
  font-family: "Mochiy Pop P One", sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  text-align: center;
}

#loves {
  color: #400040;
  font-weight: bold;
  background: #f6ee08;
  padding: 5px 10px;
  border-radius: 50%;
}

.introImg img {
  max-height: 200px;
}

a img:hover {
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

a img#ppNoHover {
  -webkit-transition: none;
  transition: none;
  -webkit-transform: none;
          transform: none;
}

.catToys div a img {
  border: inset gray 3px;
  max-width: 350px;
  padding: 0;
}

.crumbs {
  list-style-type: none;
  margin-left: 5px;
}

.crumbs li {
  display: inline;
  padding-right: 5px;
}

.crumbs a {
  color: black;
}

.fits {
  background: -webkit-gradient(linear, left top, left bottom, from(#c159cb), to(#6e3173));
  background: linear-gradient(#c159cb, #6e3173);
  color: #e2dd02;
  margin-top: 15px;
}

@media only screen and (max-width: 575px) {
  h3.fits {
    width: 100%;
    text-align: center;
  }
}

#price,
#salePrice {
  font-family: "Mochiy Pop P One", sans-serif;
}

.cartBtn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-header h2 {
  color: white;
}
/*# sourceMappingURL=styles.css.map */